.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.card {
  width: 200px;
  padding: 20px;
  border: solid 1px lightgrey;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  margin-bottom: 15px;
  text-align: center;
}

.card img{
  width: 150px;
}

.fa-brands {
  font-size: 50px;
  color: #1edd88;
}
